<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="styleSheet" type="text/css" href="${request.contextPath}/css/manage.css" />
        <style type="text/css">
            li a { display: block; }
        </style>
    </head>

    <body style="background-color: #242424;">
        <ul id="menu" class="menu noaccordion expandfirst">
            <li>
                <a id="firstMenu" class="subMenu" href="javascript:;">常用功能</a>
                <ul>
                    <li style="list-style-type:disc;"><a target="mainFrame" href="${request.contextPath}/manage/news">新闻管理</a></li>
                    <li><a target="mainFrame" href="${request.contextPath}/manage/user/editPassword">修改密码</a></li>
                </ul>
            </li>
        </ul>
        <script type="text/javascript" src="${request.contextPath}/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="${request.contextPath}/js/public.js"></script>
    </body>
</html>
