@CHARSET "UTF-8";

body {
    background-color: #FFFFFF;
}

#top {
    width: 1400px;
    margin: 0 auto;
    border: 1px solid #FFB140;
    min-height: 20px;
    height: 150px;
}

div#park_left {
    width: 225px;
    margin: 0 auto;
    border: 0px solid #696969;
    background-color: #ffffff;
    float: left;
    min-height: 500px;
    padding-bottom:740px;
}

div#park_split {
    width: 20px;
    margin: 0 auto;
    border: 0px solid #696969;
    min-height: 500px;
    background-color: #f1f1f1;
    float: left;
}

div#park_right {
    width: 955px;
    margin: 0 auto;
    border: 0px solid #696969;
    min-height: 500px;
    background-color: #ffffff;
    float: left;
}

div#park_right_main {
    width: 811px;
    margin: 0 auto;
    border: 0px solid #696969;
    min-height: 150px;
    background-color: #ffffff;
    border-bottom: 1px solid #dedede;
    margin-left: 46px;
    margin-top: 46px;
    margin-right: 98px;
}

/*div#park_right_main li {*/
/*width: 275px;*/
/*float: left;*/
/*list-style: none;*/
/*!*border-bottom: 1px solid #ff3300;*!*/
/*height: 22px;*/
/*vertical-align: middle;*/
/*padding-top: 1px;*/
/*color: #666666;*/

/*}*/
div#div_park_name {
    width: 275px;
    float: left;
    list-style: none;
    border-right: 0px solid #ff3300;
    height: 22px;
    vertical-align: middle;
    padding-top: 1px;
    color: #666666;
}

div#div_park_name ul {
    width: 275px;
    min-height: 100px;
    border: 0px solid #ff3300;
    margin-top: -3px;
}

li#li1 {
    width: 275px;
    float: left;
    list-style: none;
    /*border-bottom: 1px solid #ff3300;*/
    height: 35px;
    vertical-align: middle;
    color: #666666;
    border: 0px solid #ff3300;
    margin-left: -42px;
    font-size: 24px;
}

li#li2 {
    width: 275px;
    float: left;
    list-style: none;
    /*border-bottom: 1px solid #ff3300;*/
    height: 30px;
    vertical-align: middle;
    color: #a2a2a2;
    border: 0px solid #ff3300;
    margin-left: -42px;
    font-size: 18px;

}

div#div_park_label {
    width: 420px;
    float: left;
    list-style: none;
    border-right: 0px solid #ff3300;
    height: 22px;
    vertical-align: top;
    padding-top: 1px;
    color: #666666;
}

.li3 {
    width: 98px;
    float: left;
    list-style: none;
    /*border-bottom: 1px solid #ff3300;*/
    height: 22px;
    vertical-align: middle;
    padding-top: 1px;
    color: #666666;
}

#ulTitle {
    list-style-type: none;
}

div#parkCommunalLable {
    vertical-align: top;
}

td#td_left {
    text-align: left;
    width: 225px;
    border-right: 0px solid #000000;
    vertical-align: top;
    background-color: #ffffff;
}

td#td_right {
    text-align: left;
    width: 1155px;
    vertical-align: top;
    background-color: #ffffff;
    color: #666666;
}

td#td_split {
    width: 20px;
}

div#div_split {
    width: 20px;
}

td#td_park_name {
    color: #666666;
    text-align: left;
    vertical-align: top;
    font-size: 24px;
    /*border: 1px solid #000000;*/
    width: 260px;
}

td#td_park_lable {
    color: #666666;
    text-align: left;
    vertical-align: top;
    width: 660px;
}

td#td_park_lable a {
    color: #787878;
}

#communal_label {
    color: #ffffff;
    background-color: #ffb140;
    margin-left: 16px;
    border-radius: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
    font-size: 19px;
    width: 50px;
}

.td1 {
    border-bottom: 1px solid #dedede;
    border: 1px solid #FF0000;
    width: 275px;
    /*border-bottom: 1px solid #dedede;padding-bottom: 40px; padding-top: 40px;*/
}

td#td_park_surplus {
    border-bottom: 1px solid #dedede;
    width: 98px;
}

div#div_park_surplus {
    color: #ffffff;
    background-color: #ffb140;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #dedede;
    padding-top: 25px;
    font-weight: bold;
    float: left;
}


div.gap_row_40_gray1 {
    clear: both;
    height: 40px;
}