<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zycj.tcc.mybatis.mapper.FeeRegularMapper" >
  <resultMap id="BaseResultMap" type="com.zycj.tcc.domain.FeeRegular" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="reg_name" property="regName" jdbcType="VARCHAR" />
    <result column="reg_code" property="regCode" jdbcType="VARCHAR" />
    <result column="reg_formula" property="regFormula" jdbcType="VARCHAR" />
    <result column="reg_explain" property="regExplain" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, reg_name, reg_code, reg_formula, reg_explain, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zycj.tcc.domain.FeeRegularExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fee_regular
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fee_regular
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fee_regular
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zycj.tcc.domain.FeeRegularExample" >
    delete from fee_regular
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zycj.tcc.domain.FeeRegular" >
    insert into fee_regular (id, reg_name, reg_code, 
      reg_formula, reg_explain, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{regName,jdbcType=VARCHAR}, #{regCode,jdbcType=VARCHAR}, 
      #{regFormula,jdbcType=VARCHAR}, #{regExplain,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zycj.tcc.domain.FeeRegular" >
    insert into fee_regular
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="regName != null" >
        reg_name,
      </if>
      <if test="regCode != null" >
        reg_code,
      </if>
      <if test="regFormula != null" >
        reg_formula,
      </if>
      <if test="regExplain != null" >
        reg_explain,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="regName != null" >
        #{regName,jdbcType=VARCHAR},
      </if>
      <if test="regCode != null" >
        #{regCode,jdbcType=VARCHAR},
      </if>
      <if test="regFormula != null" >
        #{regFormula,jdbcType=VARCHAR},
      </if>
      <if test="regExplain != null" >
        #{regExplain,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zycj.tcc.domain.FeeRegularExample" resultType="java.lang.Integer" >
    select count(*) from fee_regular
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fee_regular
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.regName != null" >
        reg_name = #{record.regName,jdbcType=VARCHAR},
      </if>
      <if test="record.regCode != null" >
        reg_code = #{record.regCode,jdbcType=VARCHAR},
      </if>
      <if test="record.regFormula != null" >
        reg_formula = #{record.regFormula,jdbcType=VARCHAR},
      </if>
      <if test="record.regExplain != null" >
        reg_explain = #{record.regExplain,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fee_regular
    set id = #{record.id,jdbcType=INTEGER},
      reg_name = #{record.regName,jdbcType=VARCHAR},
      reg_code = #{record.regCode,jdbcType=VARCHAR},
      reg_formula = #{record.regFormula,jdbcType=VARCHAR},
      reg_explain = #{record.regExplain,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zycj.tcc.domain.FeeRegular" >
    update fee_regular
    <set >
      <if test="regName != null" >
        reg_name = #{regName,jdbcType=VARCHAR},
      </if>
      <if test="regCode != null" >
        reg_code = #{regCode,jdbcType=VARCHAR},
      </if>
      <if test="regFormula != null" >
        reg_formula = #{regFormula,jdbcType=VARCHAR},
      </if>
      <if test="regExplain != null" >
        reg_explain = #{regExplain,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zycj.tcc.domain.FeeRegular" >
    update fee_regular
    set reg_name = #{regName,jdbcType=VARCHAR},
      reg_code = #{regCode,jdbcType=VARCHAR},
      reg_formula = #{regFormula,jdbcType=VARCHAR},
      reg_explain = #{regExplain,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>