<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zycj.tcc.mybatis.mapper.InvoiceSettingMapper" >
  <resultMap id="BaseResultMap" type="com.zycj.tcc.domain.InvoiceSetting" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="invoice_batch" property="invoiceBatch" jdbcType="VARCHAR" />
    <result column="invoice_start" property="invoiceStart" jdbcType="VARCHAR" />
    <result column="invoice_end" property="invoiceEnd" jdbcType="VARCHAR" />
    <result column="emp_no" property="empNo" jdbcType="VARCHAR" />
    <result column="emp_name" property="empName" jdbcType="VARCHAR" />
    <result column="pos_no" property="posNo" jdbcType="VARCHAR" />
    <result column="set_time" property="setTime" jdbcType="TIMESTAMP" />
    <result column="req_serial" property="reqSerial" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, invoice_batch, invoice_start, invoice_end, emp_no, emp_name, pos_no, set_time, 
    req_serial, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zycj.tcc.domain.InvoiceSettingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from invoice_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from invoice_setting
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from invoice_setting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zycj.tcc.domain.InvoiceSettingExample" >
    delete from invoice_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zycj.tcc.domain.InvoiceSetting" >
    insert into invoice_setting (id, invoice_batch, invoice_start, 
      invoice_end, emp_no, emp_name, 
      pos_no, set_time, req_serial, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{invoiceBatch,jdbcType=VARCHAR}, #{invoiceStart,jdbcType=VARCHAR}, 
      #{invoiceEnd,jdbcType=VARCHAR}, #{empNo,jdbcType=VARCHAR}, #{empName,jdbcType=VARCHAR}, 
      #{posNo,jdbcType=VARCHAR}, #{setTime,jdbcType=TIMESTAMP}, #{reqSerial,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zycj.tcc.domain.InvoiceSetting" >
    insert into invoice_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="invoiceBatch != null" >
        invoice_batch,
      </if>
      <if test="invoiceStart != null" >
        invoice_start,
      </if>
      <if test="invoiceEnd != null" >
        invoice_end,
      </if>
      <if test="empNo != null" >
        emp_no,
      </if>
      <if test="empName != null" >
        emp_name,
      </if>
      <if test="posNo != null" >
        pos_no,
      </if>
      <if test="setTime != null" >
        set_time,
      </if>
      <if test="reqSerial != null" >
        req_serial,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="invoiceBatch != null" >
        #{invoiceBatch,jdbcType=VARCHAR},
      </if>
      <if test="invoiceStart != null" >
        #{invoiceStart,jdbcType=VARCHAR},
      </if>
      <if test="invoiceEnd != null" >
        #{invoiceEnd,jdbcType=VARCHAR},
      </if>
      <if test="empNo != null" >
        #{empNo,jdbcType=VARCHAR},
      </if>
      <if test="empName != null" >
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="posNo != null" >
        #{posNo,jdbcType=VARCHAR},
      </if>
      <if test="setTime != null" >
        #{setTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reqSerial != null" >
        #{reqSerial,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zycj.tcc.domain.InvoiceSettingExample" resultType="java.lang.Integer" >
    select count(*) from invoice_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update invoice_setting
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.invoiceBatch != null" >
        invoice_batch = #{record.invoiceBatch,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceStart != null" >
        invoice_start = #{record.invoiceStart,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceEnd != null" >
        invoice_end = #{record.invoiceEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.empNo != null" >
        emp_no = #{record.empNo,jdbcType=VARCHAR},
      </if>
      <if test="record.empName != null" >
        emp_name = #{record.empName,jdbcType=VARCHAR},
      </if>
      <if test="record.posNo != null" >
        pos_no = #{record.posNo,jdbcType=VARCHAR},
      </if>
      <if test="record.setTime != null" >
        set_time = #{record.setTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reqSerial != null" >
        req_serial = #{record.reqSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update invoice_setting
    set id = #{record.id,jdbcType=INTEGER},
      invoice_batch = #{record.invoiceBatch,jdbcType=VARCHAR},
      invoice_start = #{record.invoiceStart,jdbcType=VARCHAR},
      invoice_end = #{record.invoiceEnd,jdbcType=VARCHAR},
      emp_no = #{record.empNo,jdbcType=VARCHAR},
      emp_name = #{record.empName,jdbcType=VARCHAR},
      pos_no = #{record.posNo,jdbcType=VARCHAR},
      set_time = #{record.setTime,jdbcType=TIMESTAMP},
      req_serial = #{record.reqSerial,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zycj.tcc.domain.InvoiceSetting" >
    update invoice_setting
    <set >
      <if test="invoiceBatch != null" >
        invoice_batch = #{invoiceBatch,jdbcType=VARCHAR},
      </if>
      <if test="invoiceStart != null" >
        invoice_start = #{invoiceStart,jdbcType=VARCHAR},
      </if>
      <if test="invoiceEnd != null" >
        invoice_end = #{invoiceEnd,jdbcType=VARCHAR},
      </if>
      <if test="empNo != null" >
        emp_no = #{empNo,jdbcType=VARCHAR},
      </if>
      <if test="empName != null" >
        emp_name = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="posNo != null" >
        pos_no = #{posNo,jdbcType=VARCHAR},
      </if>
      <if test="setTime != null" >
        set_time = #{setTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reqSerial != null" >
        req_serial = #{reqSerial,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zycj.tcc.domain.InvoiceSetting" >
    update invoice_setting
    set invoice_batch = #{invoiceBatch,jdbcType=VARCHAR},
      invoice_start = #{invoiceStart,jdbcType=VARCHAR},
      invoice_end = #{invoiceEnd,jdbcType=VARCHAR},
      emp_no = #{empNo,jdbcType=VARCHAR},
      emp_name = #{empName,jdbcType=VARCHAR},
      pos_no = #{posNo,jdbcType=VARCHAR},
      set_time = #{setTime,jdbcType=TIMESTAMP},
      req_serial = #{reqSerial,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>