<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zycj.tcc.mybatis.mapper.RoadSpaceMapper" >
  <resultMap id="BaseResultMap" type="com.zycj.tcc.domain.RoadSpace" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="section_id" property="sectionId" jdbcType="INTEGER" />
    <result column="space_no" property="spaceNo" jdbcType="VARCHAR" />
    <result column="space_status" property="spaceStatus" jdbcType="INTEGER" />
    <result column="space_type" property="spaceType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_parked" property="isParked" jdbcType="INTEGER" />
    <result column="car_no" property="carNo" jdbcType="VARCHAR" />
    <result column="park_time" property="parkTime" jdbcType="TIMESTAMP" />
    <result column="drive_time" property="driveTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, section_id, space_no, space_status, space_type, create_time, update_time, is_parked, 
    car_no, park_time, drive_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zycj.tcc.domain.RoadSpaceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from road_space
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from road_space
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from road_space
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zycj.tcc.domain.RoadSpaceExample" >
    delete from road_space
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zycj.tcc.domain.RoadSpace" >
    insert into road_space (id, section_id, space_no, 
      space_status, space_type, create_time, 
      update_time, is_parked, car_no, 
      park_time, drive_time)
    values (#{id,jdbcType=INTEGER}, #{sectionId,jdbcType=INTEGER}, #{spaceNo,jdbcType=VARCHAR}, 
      #{spaceStatus,jdbcType=INTEGER}, #{spaceType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isParked,jdbcType=INTEGER}, #{carNo,jdbcType=VARCHAR}, 
      #{parkTime,jdbcType=TIMESTAMP}, #{driveTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zycj.tcc.domain.RoadSpace" >
    insert into road_space
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sectionId != null" >
        section_id,
      </if>
      <if test="spaceNo != null" >
        space_no,
      </if>
      <if test="spaceStatus != null" >
        space_status,
      </if>
      <if test="spaceType != null" >
        space_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isParked != null" >
        is_parked,
      </if>
      <if test="carNo != null" >
        car_no,
      </if>
      <if test="parkTime != null" >
        park_time,
      </if>
      <if test="driveTime != null" >
        drive_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sectionId != null" >
        #{sectionId,jdbcType=INTEGER},
      </if>
      <if test="spaceNo != null" >
        #{spaceNo,jdbcType=VARCHAR},
      </if>
      <if test="spaceStatus != null" >
        #{spaceStatus,jdbcType=INTEGER},
      </if>
      <if test="spaceType != null" >
        #{spaceType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isParked != null" >
        #{isParked,jdbcType=INTEGER},
      </if>
      <if test="carNo != null" >
        #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="parkTime != null" >
        #{parkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="driveTime != null" >
        #{driveTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zycj.tcc.domain.RoadSpaceExample" resultType="java.lang.Integer" >
    select count(*) from road_space
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update road_space
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sectionId != null" >
        section_id = #{record.sectionId,jdbcType=INTEGER},
      </if>
      <if test="record.spaceNo != null" >
        space_no = #{record.spaceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.spaceStatus != null" >
        space_status = #{record.spaceStatus,jdbcType=INTEGER},
      </if>
      <if test="record.spaceType != null" >
        space_type = #{record.spaceType,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isParked != null" >
        is_parked = #{record.isParked,jdbcType=INTEGER},
      </if>
      <if test="record.carNo != null" >
        car_no = #{record.carNo,jdbcType=VARCHAR},
      </if>
      <if test="record.parkTime != null" >
        park_time = #{record.parkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.driveTime != null" >
        drive_time = #{record.driveTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update road_space
    set id = #{record.id,jdbcType=INTEGER},
      section_id = #{record.sectionId,jdbcType=INTEGER},
      space_no = #{record.spaceNo,jdbcType=VARCHAR},
      space_status = #{record.spaceStatus,jdbcType=INTEGER},
      space_type = #{record.spaceType,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_parked = #{record.isParked,jdbcType=INTEGER},
      car_no = #{record.carNo,jdbcType=VARCHAR},
      park_time = #{record.parkTime,jdbcType=TIMESTAMP},
      drive_time = #{record.driveTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zycj.tcc.domain.RoadSpace" >
    update road_space
    <set >
      <if test="sectionId != null" >
        section_id = #{sectionId,jdbcType=INTEGER},
      </if>
      <if test="spaceNo != null" >
        space_no = #{spaceNo,jdbcType=VARCHAR},
      </if>
      <if test="spaceStatus != null" >
        space_status = #{spaceStatus,jdbcType=INTEGER},
      </if>
      <if test="spaceType != null" >
        space_type = #{spaceType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isParked != null" >
        is_parked = #{isParked,jdbcType=INTEGER},
      </if>
      <if test="carNo != null" >
        car_no = #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="parkTime != null" >
        park_time = #{parkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="driveTime != null" >
        drive_time = #{driveTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zycj.tcc.domain.RoadSpace" >
    update road_space
    set section_id = #{sectionId,jdbcType=INTEGER},
      space_no = #{spaceNo,jdbcType=VARCHAR},
      space_status = #{spaceStatus,jdbcType=INTEGER},
      space_type = #{spaceType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_parked = #{isParked,jdbcType=INTEGER},
      car_no = #{carNo,jdbcType=VARCHAR},
      park_time = #{parkTime,jdbcType=TIMESTAMP},
      drive_time = #{driveTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>