<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <typeAliases>
        <typeAlias alias="demoVo" type="com.tcc.park.api.vo.DemoVo"/>
    </typeAliases>  
    <mappers>
        <mapper resource="config/mybatis/maps/AppUpdateDao.xml" />
        <mapper resource="config/mybatis/maps/ParkLotDao.xml" />
        <mapper resource="config/mybatis/maps/AreaDao.xml" />
    </mappers>  
</configuration>