<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd   
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/mvc 
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<!-- 对静态资源文件的访问     
	<mvc:resources mapping="/css/**" location="/css/" />  
	<mvc:resources mapping="/js/**" location="/js/" />  
	<mvc:resources mapping="/img/**" location="/img/" />  
	 -->

	<!-- 启用spring注解 -->
	<context:annotation-config />
	
	<!--排除扫描的包，对web包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能 (让spring不扫描带有@Service注解的类(留在applicationContext.xml中扫描@Service注解的类),防止事务失效) -->
	<context:component-scan base-package="com.tcc.park.api">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
	</context:component-scan>


	<!-- 完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<bean
			class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
						class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<mvc:annotation-driven></mvc:annotation-driven>


	<bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
    	<property name="suffix">
    		<value>.vm</value>
    	</property>
    	<property name="contentType">  
            <value>text/html; charset=UTF-8</value>  
        </property>
        <property name="exposeRequestAttributes" value="true" />
        <property name="exposeSessionAttributes" value="true" />
        <property name="requestContextAttribute" value="rc"/> 
        
	</bean>
	
	<bean id="velocityConfigurer" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
    <property name="resourceLoaderPath">
      <value>/WEB-INF/velocity/</value>
    </property>
    <property name= "velocityProperties">        
            <props>        
                <prop key= "input.encoding">UTF-8</prop>        
                <prop key= "output.encoding">UTF-8</prop>            
            </props>        
        </property>
    </bean>

	<!-- 支持上传文件 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
		
   <mvc:interceptors>   
		<mvc:interceptor>
			<!-- 需拦截的地址 -->
	       	<mvc:mapping path="/api/user/**" />
			<!-- 需排除拦截的地址 
			<mvc:exclude-mapping path="/login/*"/>
			-->
            <bean class="com.tcc.park.api.web.LoginHandler" />   
		</mvc:interceptor>
   </mvc:interceptors>
    
</beans>