@charset "utf-8";
body{border:0; margin:0; padding:0; font-size:12px; font-family:Verdana, Geneva, sans-serif; background:#f4f5f7; }
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input,textarea, blockquote, p {margin: 0;padding: 0;}

img{ width:auto; max-height:320px;border:none; }
.black10{clear:both; height:10px; overflow:hidden;}
.bolck10{clear:both; height:10px; overflow:hidden;}
.bolck5 { clear:both; height:15px; overflow:hidden; }
.black{clear:both; height:1px;}
*{margin:0; padding:0;}
a {color:#7d7d7d; text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {color:#7d7d7d;text-decoration:none;}
a:active {color:#7d7d7d;}
.clear{clear:both;}
li{list-style:none;}
.flo{float:left;}
.bold{font-weight:bold;}
.mar_top{margin-top:10px;}
h1{font-size:24px;}
.zx_rnr{ width:90%; margin:0 auto;border:1px solid #dfdddd; background:#fff;border-width: 1px;border-style: solid;-moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.zx_kznr{margin:0 auto; width:92%; overflow:hidden;  padding-top:15px;}
.zx_kznr h1{font-size:18px; line-height:22px;}
.zx_kznr_rq{font-size:12px; line-height:28px; color:#bfbfbf;}
.zx_kznr_img{margin-bottom:5px; margin-top:5px;}
.zx_kznr_wz{font-size:14px; line-height:18px;}
.zx_kznr_wzzy{ margin-top:10px;padding:9px; background:#f3f3f3; overflow:hidden;border-width: 0px;border-style: solid;-moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.zx_kznr_left{line-height:28px; float:left;}
.zx_kznr_right{float:right; font-size:14px; line-height:28px; padding-right:10px;}
img.Scale{
width:100%; margin-top:10px; margin-bottom:10px;       
}
.xi_nrw{ width:95%; margin:0 auto; padding-top:15px;background:#f5f5f5; }
.xi_nrw h1{font-weight:bold;font-size:20px;}
.xi_nrw_xq{line-height:27px;font-size:12px; color:#c6c6c6; border-top:1px #d6d6d6 solid;}
.xi_nrw_div{color:#696969; font-size:17px; line-height:32px;}
.xi_nrw_div p{text-indent:2em;}
.xi_nrw_dirs{ font-weight:bold; color:#06C;}
